:root{
	--body-color:#0b1027; 
	/*css variable*/
}
body{
	margin:0px;
	background-color: #0b1027; /*internet explorer*/
	background-color: var(--body-color);
	position: relative;
}


/*........................................................................................*/

/*Header*/
header{
	height:12vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	display: flex;
	z-index: 1000;
	background-color: var(--body-color);
   /*since carousel has some z-index value , it floats over the header, even though header is fixed at its place
   so adding some z index to header*/
	flex-direction: row;
	flex-wrap: nowrap;
}
.logo{
	height:12vh;
	width: 15%;
	min-width: 100px;
	margin-left: 3%;
}
.logo img{
	height: 100%;
	width: 100%;
}
.header-title{
	height: 100%;
	width: 40vw;
	vertical-align: middle;
}
#title-text {
	color: white;
	font-size: 1.3rem;
}
.search-bar{
	height:10vh;
	width:25vw;
	color: white;
	position: relative;
}
#search{
	font-size: 1.7rem;
	width: 90%;
	position: absolute;
	top: 40%;
	left: 0px;
}

.notifications{
	height: 10vh;
	width: 5vw;
	min-width: 5vw;
	color:white;
	font-size: 1.5rem;
	position: relative;
	
}
.notifications a{
	text-decoration: none;
	color: white;
	position:absolute;
	top: 35%;
	left: 0px;

}

#user-profile-section{
	height: 100%;
	width: auto;
	text-align: center;
}

#user-profile{
	height:50px;
	width: 50px;
	min-width: 50px;
	min-height: 50px;
	margin-top: 30%;
	margin-left: 10%;
	background-image: url("../static/user.jpg");
	background-position: center;
	background-size: cover;
	border: 1px white;
	border-radius: 50%;
}

@media screen and (max-width: 400px){
	.search-bar{
		display: none;
	}
}



/*........................................................................................*/

/*Main section*/
#main{
	margin-top: 12vh;
	height: 100vh;
	width: 70vw;
	/*background-color: #eee;*/
	padding: 40px;   
}
@media screen and (max-width:720px){
	#main{
		width: 100vw;
		display: block;
	}
}

/*Carousel*/
[type=radio] {
  display: none;
  /*to hide the radio buttons*/
}

#slider {
  height: 30vw;
  position: relative;
  /*container div is relative so that slides s1,s2.. are absolute*/
  perspective: 1000px; 
  /*to give perspective to active frame/slide*/
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
	    /*h-offset, voff set, spread,
blur , color in rgba 255o255g255ve opacity as well;*/
  box-shadow: 0 1px 4px 0 rgba(255,255,255,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(255,255,255,.3), 0 2px 2px 0 rgba(255,255,255,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow:0 5px 35px 3px rgba(255,255,255,.3), 2px 5px 7px 5px; 
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(255,255,255,.3), 0 2px 2px 0 rgba(255,255,255,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(255,255,255,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 {
 background-image: url("../static/0.jpg");
 background-size: 100% 100%;
 /*this make the background image height and width as 100% of parent div. So auto scale to fit exactly*/
}
#slide2 { 
	background-image: url("../static/2.jpg");
 background-size: 100% 100%;

 }
#slide3 { 
background-image: url("../static/1.jpg");
 background-size: 100% 100%;
 }
#slide4 { 
background-image: url("../static/6.jpg");
 background-size: 100% 100%;

}
#slide5 { 
background-image: url("../static/4.jpg");
 background-size: 100% 100%;

 }

/*Latest release*/
#Latest-release, #Popular-artists, #stations, #genre, #hindi, #english{
	height: auto;
	width: 90%;
	/*width is 80% of main section*/
	/*background-color:green;
*/	margin: 5% auto ;
	/*to align in centre of main*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}
#latest-release-title, #pop-title,#eng-title , #hin-title{
width:100%;
height: auto;
margin-bottom: 10px;
color: white;

}
.latest-release-icons{
	height: 200px;
	width: 380px;
	/*background-color: white;
*/	margin-bottom: 20px;

}
.latest-release-icons img{
	height: 100%;
	width: 60%;
	border-radius: 3%;

}
.latest-release-icons p{
	display: inline-block;
	vertical-align: top;
	color: white;
	margin-left: 30px;	
}

/*Popular artists*/
.pop {
	height: 120px;
	width: 120px;
	margin-bottom: 20px;
}
.pop img{
	height: 100%;
	width:100%;
	border: 0px solid lightgrey;
	border-radius: 50%;
	box-shadow: 0px 2px 2px 2px rgba(169,169,169,0.3);

}

/*Stations*/
#stations{
	background-color:#101642;
}

#stations-logo{
	height: 120px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 30px;

}
#stations-logo img{
	height: 100%;
	width: 100%;
}

.station-type{
	height: 110px;
	width: 110px;
	margin-top:20px;
	border: 0px solid lightgrey;
	border-radius: 50%;
	box-shadow: 0px 2px 2px 2px rgba(169,169,169,0.3);

	position: relative;
	overflow: hidden;

}
.station-type img{
	height: 100%;
	width:100%;
	border: 0px solid lightgrey;
	border-radius: 50%;
	transition: transform .2s;


}
/*zoom transition*/
.station-type img:hover{
	transform: scale(1.5);
}
.station-caption{
	position: absolute;
	top:50px;
	color:white;
	left:15%;
	font-size: 1.3rem;
	font-weight: 600;

}

/*Genre*/
.genre-type{
	height: 150px;
	width: 240px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 7px 4px rgba(255,255,255,0.3);
	overflow: hidden;
	/*so that if image overflow on zoom transition then hidden*/
}

.genre-type img{
	height: 100%;
	width: 100%;
	transition: transform .2s;

}
/*zoom transition*/

.genre-type img:hover{
transform: scale(1.3);
}


/*Latest english, latest hindi*/

.hin, .eng{
	height: 270px;
	width: 130px;
	margin-bottom: 20px;
}
.hin img, .eng img{
	height: 75%;
	width: 100%;
	box-shadow: 0px 2px 7px 4px rgba(255,255,255,0.3);

}
.hin p, .eng p{
	color: white;
	text-align: center;
}
/*........................................................................................*/

/*Playlist queue */

#queue{
	position: absolute;
	right: 0;
	top: 0;
	height: auto;
	width:28vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/*playlist is not included for smaller devices*/
@media screen and (max-width: 720px){
	#queue{
		display: none;
	}
}
.queue-title{
	width: 100%;
	color: white;
	margin-bottom: 20px;
}
.song-holder{
	height: 100px;
	width: 100%;
	margin-top: 20px;
	background-color: var(--body-color);	
}
.serial{
	margin-top: 8%;
	color: white;
	font-weight: 300;
	font-size: 1rem;
	display: inline-block;
}
.song-holder img{
display: inline-block;
vertical-align: top;
height: 95%;
width: 25%;
border:1px;
border-radius: 3%;
margin-left: 20px;
margin-right: 20px;
}
.song{
	margin-top: 8%;
	color: white;
	display: inline-block;
	vertical-align: top;
}

/*........................................................................................*/
/*Playlist section*/

/*Similar artists*/
.similar-artists{
	height: 130px;
	width: 100%;
	margin-top: 20px;
	background-color: var(--body-color);
}
.similar-artists img{
height: 95%;
width: 30%;
border:1px;
border-radius: 3%;
margin-right: 20px;
}
.artist-name{
	margin-top: 8%;
	color: white;
	display: inline-block;
	vertical-align: top;
}

#about{
	height: auto;
	width: 80%;
	/*width is 80% of main section*/
	/*background-color:green;
*/	margin: 1% auto ;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#about-img{
height: 25vw;
width: 50%;
margin-right: 20px;
min-height: 300px;
min-width: 300px;
}

#about-img img{
height: 100%;
width: 100%;
border:1px;
border-radius: 3%;
box-shadow: 0px 2px 7px 4px rgba(255,255,255,0.3);

}
#intro-text{
	color: white;
	height: auto;
	width: 45%;
	min-width: 300px;
}
#playlist{
	height: auto;
	width: 80%;
	margin: 5% auto ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.play-holder{
	height: 70px;
	width: 100%;
	margin-top: 13px;
	background-color: #0b1027c4;

	box-shadow: 0px 1px 2px 0px rgba(255,255,255,0.3);


}
.play-holder img{
height: 95%;
width: 15%;
border:1px;
border-radius: 3%;
margin-right: 20px;
}

 .play-song{
	color: white;
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;

}


/*Music player*/

footer{
	/*--mcolor:#292929de;*/ 
	--mcolor:#292929e6;
}
#music-player{
	position: fixed;
	bottom: 0;
	height: 9vh;
	width: 100vw;
	background-color: #292929e6;
	/*for internet explorer*/
	background-color: var(--mcolor);
	/*for other browsers*/
	display: flex;
}
#song-details{
	height: 100%;
	width: 40%;
	/*background-color: white;
*/}
#music-player img{
	margin-left: 20%;
	margin-right: 20px;
	width: 30%;
	height: 100%;
}
.song-about{
	margin-top: 4%;
	color: white;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	display: inline-block;
	vertical-align: top;
}


#audio-controls{
	display: inline-block;
height: 100%;
width: 40%;
/*background-color: green;*/
}
@media screen and (max-width:500px){
	#song-details{
	height: 100%;
	width: 25%;
}

#audio-controls{
height: 100%;
width: 50%;
}

} 


